@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;500;600;700&family=Roboto:wght@300;400;500&family=Rubik:wght@400;500;900&family=Teko:wght@700&display=swap");

/* ***********************************Main**************************************** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  margin: 0px 200px;
}

/* <***************************************Home************************************** */

.front {
  height: 100vh;
  background-color: black;
}
/* ---------------Navigation Bar------------------ */
nav {
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 1;
}

ul.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
  margin: 0px 200px;
  /* border: 2px solid white; */
}

li.navbar {
  display: inline-block;
}

a.navbar {
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 12px 12px;
  font-size: 13px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  border-bottom: 2px transparent;
}

.logo {
  display: inline-block;
  font-size: 40px;
  color: white;
  font-family: "Teko", sans-serif;
  margin-right: 600px;
}

/* ------------------Title------------------ */

.intro {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/girban-dark.png);
  background-repeat: no-repeat;
  background-size: 160vh;
  background-position: center;
  background-attachment: fixed;
}

.welcome {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 70px;
}

.nxtwelcome {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  letter-spacing: 2px;
  margin: 30px 0px;
}
.iam {
  color: white;
}

.profession {
  color: rgb(196, 155, 102);
}

.viewHire {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 30px 0px;
}

.viewWork {
  text-decoration: none;
  border: 1px solid white;
  padding: 10px 30px;
  border-radius: 50px;
  margin: 0px 10px;
  color: white;
}

.hireMe {
  text-decoration: none;
  border: 1px solid white;
  padding: 10px 30px;
  border-radius: 50px;
  margin: 0px 10px;
  color: rgb(196, 155, 102);
  background-color: white;
}

.viewWork:hover {
  background-color: rgb(196, 155, 102);
  transition: 0.4s all;
}

.hireMe:hover {
  background-color: rgb(196, 155, 102);
  color: white;
  transition: 0.4s all;
}

a.navbar:hover {
  border-bottom: 2px solid rgb(196, 155, 102);
  transition: 0.2s ease;
  color: rgb(196, 155, 102);
}
a.navbar:active {
  color: rgb(196, 155, 102);
}

/* ********************************About********************************* */

.about {
  background-color: rgb(249, 249, 249);
}

.row {
  height: 40vmax;
  display: flex;
  justify-content: center;
  margin: 0px 200px;
}

.col-1 {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h4.aboutMe {
  color: rgb(214, 214, 214);
  font-size: 70px;
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
  overflow-wrap: break-word;
  padding: 0px 35px 0px 0px;
}

.stats {
  margin-top: 100px;
  margin-right: 20px;
}

h5.stat-1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

h5.percent-1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-left: 70%;
}

.bar-1 {
  background-color: rgb(214, 214, 214);
  height: 8px;
  border-radius: 60px;
  margin-bottom: 30px;
}

.empty-1 {
  background-color: rgb(196, 155, 102);
  width: 70%;
  height: 8px;
  border-radius: 60px;
}
h5.stat-2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

h5.percent-2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-left: 60%;
}

.bar-2 {
  background-color: rgb(214, 214, 214);
  height: 8px;
  border-radius: 60px;
  margin-bottom: 30px;
}

.empty-2 {
  background-color: rgb(196, 155, 102);
  width: 60%;
  height: 8px;
  border-radius: 60px;
}
h5.stat-3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

h5.percent-3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-left: 80%;
}

.bar-3 {
  background-color: rgb(214, 214, 214);
  height: 8px;
  border-radius: 60px;
  margin-bottom: 30px;
}

.empty-3 {
  background-color: rgb(196, 155, 102);
  width: 80%;
  height: 8px;
  border-radius: 60px;
}

.about:hover h4.aboutMe {
  color: rgb(249, 249, 249);
  /* text-shadow: 2px 0px rgb(190, 190, 190), 0 2px rgb(190, 190, 190),
   2px 0 rgb(190, 190, 190), 0 -2px rgb(190, 190, 190); */
  -webkit-text-stroke: 1.2px rgb(200, 200, 200);
  transition: 0.5s ease;
}

.col-2 {
  width: 33.33%;
  display: flex;
  background-color: rgb(35, 35, 33);
}

.me {
  width: 100%;
  background-image: url(./images/me.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 600px;
}

.col-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 33.33%;
  margin: 0px 20px;
}

h6.who {
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 8px;
  margin-bottom: 20px;
}

h4.name {
  font-size: 30px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
  background: rgb(196, 155, 102);
  padding: 8px 8px;
  margin-bottom: 20px;
}

h5.job {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
}

p.aboutPage {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgb(143, 143, 143);
  line-height: 1.8;
  margin-bottom: 60px;
}

.follow {
  color: rgb(196, 155, 102);
  font-size: 12px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

a.soclog {
  color: black;
  padding-right: 15px;
}

span.soclog {
  padding-left: 60px;
}

a.soclog:hover {
  color: rgb(196, 155, 102);
}

.services {
  background-color: rgb(240, 240, 240);
}

.row-services {
  height: 45vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 200px;
  flex-direction: column;
}

h4.services {
  color: rgb(214, 214, 214);
  font-size: 70px;
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
}

.services:hover h4.services {
  color: rgb(240, 240, 240);
  /* text-shadow: 2px 0px rgb(190, 190, 190), 0 2px rgb(190, 190, 190),
   2px 0 rgb(190, 190, 190), 0 -2px rgb(190, 190, 190); */
  -webkit-text-stroke: 1.2px rgb(200, 200, 200);
  transition: 0.5s ease;
}

.cards-services {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.col-1-ser {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(249, 249, 249);
  padding: 5px 9px;
}
.col-2-ser {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(249, 249, 249);
  padding: 5px 9px;
}
.col-3-ser {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(249, 249, 249);
  padding: 5px 9px;
}
.col-4-ser {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(249, 249, 249);
  padding: 5px 9px;
}

.fa-palette,
.fa-shield,
.fa-code,
.fa-film {
  font-size: 30px;
  color: rgb(196, 155, 102);
}

.icon-1 {
  padding: 25px 25px;
  background-color: rgb(240, 240, 240);
  border-radius: 25px;
}
.icon-1:hover {
  padding: 25px 25px;
  background-color: rgb(196, 155, 102);
  border-radius: 25px;
  transition: 0.4s ease;
}

.icon-1:hover .fa-palette,
.icon-1:hover .fa-shield,
.icon-1:hover .fa-code,
.icon-1:hover .fa-film {
  color: rgb(249, 249, 249);
}

.ser-tag {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 30px;
}
.ser-descp {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #8f8f8f;
  line-height: 1.8;
  margin-top: 20px;
  text-align: center;
}

.portfolio {
  background-color: rgb(249, 249, 249);
}

.row-portfolio {
  height: 100vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 200px;
  flex-direction: column;
}

h4.portfolio {
  color: rgb(214, 214, 214);
  font-size: 70px;
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
}
.portfolio:hover h4.portfolio {
  color: rgb(249, 249, 249);
  /* text-shadow: 2px 0px rgb(190, 190, 190), 0 2px rgb(190, 190, 190),
   2px 0 rgb(190, 190, 190), 0 -2px rgb(190, 190, 190); */
  -webkit-text-stroke: 1.2px rgb(200, 200, 200);
  transition: 0.5s ease;
}

.option-portfolio {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 80px;
}

.option-active {
  padding: 12px 30px;
  background-color: rgb(196, 155, 102);
  margin: 0px 5px;
  border-radius: 20px;
  color: rgb(249, 249, 249);
}

.option {
  padding: 12px 30px;
  margin: 0px 5px;
  border-radius: 20px;
}

.gallery {
  margin-top: 80px;
  width: 100%;
  height: 100%;
  position: relative;
}

.image1 {
  width: 47%;
  height: 30%;
  position: absolute;
  background-image: url(./images/1.jpg);
  background-position: center;
  border-radius: 7px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image2 {
  width: 47%;
  height: 23%;
  position: absolute;
  right: 0px;
  background-image: url(./images/2.jpg);
  background-position: center;
  border-radius: 7px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image3 {
  width: 47%;
  height: 25%;
  position: absolute;
  top: 35.5%;
  background-image: url(./images/3.jpg);
  background-position: center;
  border-radius: 7px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image4 {
  width: 20.5%;
  height: 17%;
  position: absolute;
  top: 28%;
  right: 26.5%;
  background-image: url(./images/4.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 7px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image5 {
  width: 20.5%;
  height: 17%;
  position: absolute;
  top: 28%;
  right: 0%;
  background-image: url(./images/5.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 7px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image6 {
  width: 47%;
  height: 25%;
  position: absolute;
  bottom: 9%;
  background-image: url(./images/6.jpg);
  background-position: center;
  border-radius: 7px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image7 {
  width: 47%;
  height: 41%;
  position: absolute;
  bottom: 9%;
  right: 0%;
  background-image: url(./images/7.jpg);
  background-position: center;
  border-radius: 7px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallerydesp {
  visibility: hidden;
}

h5.gallerydesp {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

p.gallerydesp {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 12px;
}

.image1:hover,
.image2:hover,
.image3:hover,
.image4:hover,
.image5:hover,
.image6:hover,
.image7:hover {
  opacity: 0.5;
  transition: 0.2s ease;
  cursor: pointer;
}
.image1:hover .gallerydesp,
.image2:hover .gallerydesp,
.image3:hover .gallerydesp,
.image4:hover .gallerydesp,
.image5:hover .gallerydesp,
.image6:hover .gallerydesp,
.image7:hover .gallerydesp {
  visibility: visible;
  color: azure;
}

.blog {
  background-color: rgb(240, 240, 240);
}

.row-blog {
  height: 45vmax;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 200px;
  flex-direction: column;
}

h4.blog {
  color: rgb(214, 214, 214);
  font-size: 70px;
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
}

.blog:hover h4.blog {
  color: rgb(240, 240, 240);
  /* text-shadow: 2px 0px rgb(190, 190, 190), 0 2px rgb(190, 190, 190),
   2px 0 rgb(190, 190, 190), 0 -2px rgb(190, 190, 190); */
  -webkit-text-stroke: 1.2px rgb(200, 200, 200);
  transition: 0.5s ease;
}

.blog-list {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
}

.blog-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 30%;
  border: 2px solid black;
}
.blog-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 30%;
  border: 2px solid black;
}
.blog-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 30%;
  border: 2px solid black;
}
